.pricing-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  padding: 5px 0;

  position: relative;
}

.price-title{
  font-family: 'CrazyV1', sans-serif;
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: #DE4E29;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('/Users/user/Desktop/my-app/src/image/облако вектор.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px;
  padding: 40px 30px 30px 30px;
  width: 420px;
  height: 260px;
  text-align: center;
  position: relative;
  color: #DE4E29;
  font-family: 'Arial', sans-serif;
  
}

.card-content {
  flex-grow: 1;
}

.card-description p {
  margin: 0;
}

.pricing-card h3 {
  color: #DE4E29;
  font-size: 1.3rem;
  text-align: center;
  margin: 38px 27px 42px 149px;
  font-family: 'Arial Black', Arial, sans-serif;
  width: 70px;
  
}

.pricing-card .price {
  color: #F02A0C;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 15px 0;
}

.signup-button {
  background-color: #78B951;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin-top: 5px;
  border-radius: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.18);
  transition: background-color 0.3s, transform 0.2s;
  width: fit-content;
  align-self: center;
}

.signup-button:hover {
  background-color: #F02A0C;
  transform: scale(1.05);
}

.flower.left-flower {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 95px;
  z-index: 2;
}

.flower.right-flower {
  position: absolute;
  top: 100px;
  right: -25px;
  width: 80px;
  
  z-index: 2;
}

